{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 100,
	"semi": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"trailingComma": "es5",

	"braceStyle": "stroustrup"
}
